# .gitignore

setup.spec

packUpCode.txt

/discontinued/

/.vscode/

/__pycache__/

/myvenv/

/LALCSetUp/

/dist/

/build/

/src/__pycache__/

/pic/screenshot.png

/log/*

/src/gui/__pycache__/

/src/log/__pycache__/

/src/common/__pycache__/

/src/script/__pycache__/

/src/test/__pycache__/

/src/error/__pycache__/

/pythonlogs/