altgraph==0.17.4
colorthief==0.2.1
darkdetect==0.8.0
importlib_metadata==8.6.1
mss==10.0.0
numpy==2.0.2
opencv-python==4.11.0.86
ordered-set==4.1.0
packaging==24.2
pefile==2023.2.7
pillow==11.1.0
psutil==7.0.0
PyGetWindow==0.0.9
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pynput==1.7.8
PyQt-Fluent-Widgets==1.7.6
PyQt5==5.15.11
PyQt5-Frameless-Window==0.4.5
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyRect==0.2.0
pywin32==308
pywin32-ctypes==0.2.3
scipy==1.13.1
six==1.17.0
zipp==3.21.0
zstandard==0.23.0
